$font-family: 'Bricolage Grotesque', sans-serif;
$font-family-secondary: 'Inter', sans-serif;

$breakpoint-lg: 1260px;
$breakpoint-md: 992px;
$breakpoint-sm: 640px;
$breakpoint-xs: 425px;

// Color Variables
$primary-color: #1e1e1e;
$secondary-color: #ffffff;
$footer-bg: #181818;
$footer-text: #f0f0f0;

// Responsive Breakpoints
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
